.intro {
  width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}

.introP {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
  padding: 10px 15px;

}

.introImage {
  max-width: 30%;
  object-fit: contain;
}


.techStack {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

.techStack>h2 {
  font-size: 40px;
}

.techimages {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.techimages>img {
  border: 2px solid blue;
  background-color: #f2f2f2;
  object-fit: contain;
  width: 75px;
  height: 75px;
  padding: 5px;
}

.Projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.Projects>h2 {
  font-size: 40px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  width: 40%;
  padding: 10px;
  box-shadow: 1px 1px 2px rgb(10, 84, 244);
  animation: breath 4s linear infinite;
}
.project > h2{
  font-size: 21px;
}
.project>p {
  font-size: 18px;
}
.project > a{
  text-decoration: none;
  background-color: #010101;
  color: white;
 background-color:  rgb(40, 73, 205);

 padding: 4px;
  width: max-content;
}


.tech {
  text-transform: capitalize;
  text-decoration: underline;
  background-color: #f2f2f2;
  color: black;
  max-width: fit-content;
}


@keyframes breath {


  0%,
  25%,
  75% {
    box-shadow: 1px 1px 2px rgb(10, 84, 244);
  }

  50% {
    box-shadow: 3px 3px 4px rgb(225, 229, 238);
  }


}

.project>h3 {
  padding: 5px;
  background-color: rgb(40, 73, 205);
}


.Experience {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  width: 100%;

}
.Experience > h2{
  font-size: 40px;
}

.exContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-direction: wrap;
  gap: 10px;
  padding: 10px;
  width: 50rem;

}

.exp {
  background-color: rgb(29, 79, 196);
  padding: 10px 20px;
  border-radius: 20px;
}
.exp > h2{
font-size: 21px;
}
.exp > p{
  font-size: 18px;
}

.footer {
  margin-top: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .intro {
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .introP {
    width: 100%;
  }

  .introImage {
    max-width: 75%;
  }

  .project {
    width: 80%;
  }

  .exContainer{
    width: 20rem;
  }
  

}